asgiref==3.11.1
black==26.5.1
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.2
cloudinary==1.45.0
colorama==0.4.6
Django==6.0.6
django-cloudinary-storage==0.3.0
djangorestframework==3.17.1
gunicorn==26.0.0
idna==3.18
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==12.3.0
platformdirs==4.10.0
psycopg2-binary==2.9.12
python-decouple==3.8
pytokens==0.4.1
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.12.0
