{% extends "base.html" %}

{% block content %}

<section class="card">
    <h2>🗑️ Deletar tweet</h2>
    <p>Tem certeza que deseja deletar este tweet?</p>
    <blockquote>
        {{ tweet.content }}
    </blockquote>
    <form method="post">
        {% csrf_token %}
        <div class="delete-actions">
            <button type="submit">
                Sim, deletar
            </button>
            <br>
            <a href="{% url 'feed' %}">
                ← Cancelar
            </a>
        </div>
    </form>

</section>

{% endblock %}