{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AeroTweet</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="page {% if not user.is_authenticated %}auth-layout{% endif %}">
        {% if user.is_authenticated %}
            <aside class="card sidebar desktop-only">
                {% include "includes/sidebar.html" %}
            </aside>
            <details class="card mobile-menu">
                <summary>
                    🫧 AeroTweet
                </summary>
                {% include "includes/sidebar.html" %}
                <hr>
                {% include "includes/right_panel.html" %}
            </details>
        {% endif %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% if user.is_authenticated %}
            <aside class="card right-panel desktop-only">
                {% include "includes/right_panel.html" %}
            </aside>
        {% endif %}
    </div>
    <footer class="footer">
        <p>🫧 AeroTweet © 2026 • Todos os direitos reservados.</p>
    </footer>
</body>
</html>